.section{
    background-color: whitesmoke;
    position: absolute;
    top: 10%;
    left: 40%;
}

.section h1{
    text-align: center;
}

.section article{
    display: inline-block;
}
p{
    padding-left: 20px;
}

div{
    width: 40px;
    height: 300px;
    margin: 20px;
    background-color: rgb(202,198,192);
}

#first-bar{
    background-color: white;
    width: 100%;
    height: 70%;
    animation-name: firstbarAnimation;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes firstbarAnimation{
    0%{
        height: 100%;
        background-color: orangered;
    }
    100%{
        height: 70%;
        background-color: white;
    }
}
#second-bar{
    background-color: white;
    width: 100%;
    height: 60%;
    animation-name: secondbarAnimation;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes secondbarAnimation{
    0%{
        height: 100%;
        background-color: white;
    }
    100%{
        height: 60%;
        background-color: white;
    }
}
#third-bar{
    background-color: white;
    width: 100%;
    height: 20%;
    animation-name: thirdbarAnimation;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
@keyframes thirdbarAnimation{
    0%{
        height: 100%;
        background-color: green;
    }
    100%{
        height: 20%;
        background-color: white;
    }
}